/* devtube.html Styling */

body {
	margin: 50px;
	background: #ceb5b7;
	/* margin: auto; */
}

#container {
	border: 1px solid #666;
	max-height: 1080px;
	width: 100%;
}
#upper_section {
	border: 1px solid #666;
	height: 500px;
	display: flex;
	justify-content: space-evenly;
	/* padding: 10px; */
	/* margin: 20px; */
}
#lower_section {
	display: flex;
	justify-content: space-evenly;
	border: 1px solid #666;
	height: 277px;
	padding: 10px;
	/* margin: 20px; */
}
#compiler {
	border: 1px solid #666;
	height: 250px;
	margin: 5px;
	width: 60%;

	/* Temporary Placeholder Details Styling */
	display: flex;
	justify-content: center;
	text-align: center;
}
#ytplayer {
	border: 1px solid #666;
	height: 480px;
	margin: 5px;
	width: 70%;
	border-radius: 5px;

	/* Temporary Placeholder Details Styling */
	display: flex;
	justify-content: center;
	text-align: center;
}

#ytplayer iframe {
	border: none;
	border-radius: 10px;
}
#playlist {
	/* border: 1px solid #666; */
	height: 480px;
	margin: 5px;
	width: 30%;
	overflow-y:scroll;
	/* background: #888888; */


	/* Temporary Placeholder Details Styling */
	/* display: flex; */
	/* justify-content: center; */
	/* text-align: center; */
}
#pomodoro {
	border: 1px solid #666;
	height: 250px;
	margin: 5px;
	width: 30%;
}

#timerCounter {
	height: 150px;
	border: #666 solid 1px;
	margin: 2px;

	/* Temporary Placeholder Details Styling */
	display: flex;
	justify-content: center;
	text-align: center;
}

#sessions {
	height: 90px;
	border: #666 1px solid;
	margin: 2px;

	/* Temporary Placeholder Details Styling */
	display: flex;
	justify-content: center;
	text-align: center;
}

#button {
	margin: 5px;
	padding: 5px;
	text-align: center;
}

#button {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	background-color: #040f0f;
	color: white;
	cursor: pointer;
	font-size: 0.8em;
}

#button:hover {
	background-color: #d2d1d3;
}

body.night-mode {
	background-color: #000;
	color: aliceblue;
}

#login {
	max-width: 450px;
	/* border: #666 solid 1px; */
	/* padding: 10px; */
	display: block;
	/* border-radius: 5px; */
}

#signin {
	border: #666 solid 1px;
	text-align: center;
	padding: 5px;
	width: 50%;
	text-decoration: none;
	color: #666;
}

.inputs {
	margin: 10px;
}

#bod {
	margin: auto;
	display: block;
	max-width: 400px;
	/* text-align: center; */
}
#loginContainer {
	max-width: 400px;
}

#devtube {
	display: none;
	/* margin: auto; */
}

#welcome {
	display: block;
	/* background: #040f0f; */
	/* color: #040f0f; */
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	/* margin-top: 105px; */
	box-shadow: 0px 0px 15px #666;
	text-align: center;
	font-family: "BioRhyme", serif;
}

.menuBar {
	border-radius: 25px;
	height: fit-content;
	display: inline-flex;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	align-items: center;
	padding: 0 10px;
	margin: 0 0 10px 0;
	/* margin: auto; */
}

.menuBar li {
	list-style: none;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	padding: 12px 16px;
	margin: 0 8px;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
}

.menuBar li:hover {
	background: linear-gradient(to bottom, #e8edec, #d2d1d3);
	box-shadow: 0px 3px 20px 0px black;
	transform: scale(1.5);
	color: #00539cff;
	/* top: 0;
	left: 0; */
	border-radius: 25px;
}

#intro {
	display: flex;
	justify-content: center;
}

#devtube h1 a {
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	color: #666;
}

#fom {
	display: block;
}

.form-group {
	margin-top: 15px;
}

.form-group label {
	display: block;
	text-align: left;
}

.form-group input {
	width: 80%;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #666;
}

.btns {
	text-align: center;
	width: 80%;
	cursor: pointer;
	border-radius: 10px;
	padding: 8px;
	margin: 10px;
	border: 1px solid #666;
	background: #b5d6d6;
}

.btns:hover {
	background: #a8c9c9;
}

.bottom-text a {
	text-decoration: none;
}

#signin-redirect {
	display: none;
	/* display: block; */
	/* background: #040f0f; */
	color: #040f0f;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	/* margin-left: 55px; */
	border: 1px solid #333;
	text-align: center;
	font-family: "BioRhyme", serif;
	max-width: 400px;
}

#have-account {
	font-family: "BioRhyme", serif;
}

#remove-signup {
	padding: 10px;
	border-radius: 5px;
	background: #b5d6d6;
	cursor: pointer;
	border: 1px solid #333;
}

body p button {
	cursor: pointer;
}
#remove-signup:hover {
	background: #a8c9c9;
}

#fomu {
	margin: 20px;
	display: flex;
}

#fomu label {
/* display: block; */
margin: 0 5px 0 0;
}

#search {
	margin: 0, 20px, 0, 20px;
	/* display: block; */
	border-radius: 15px;
	border: 1px solid #666;
	width: 100%;
	max-height: 30px;
	background: #ceb5b7;
	/* padding: 8px; */
}

#search:hover {
	background: #fff;
}
#res li a{
	display: flex;
	/* box-shadow: 0px 0px 15px #666; */
	/* border: 1px #666 solid; */
	margin: 5px;
	text-decoration: none;
	color: #ffffff91;
	border-radius: 5px;
	padding: 5px;
	height: 60px;
	font-size: 23px;
	/* white-space: nowrap; */
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 500px;
	/* text-align: center; */
}

#res li a:hover {
	color: #fff;
}

#res li {
	list-style: none;
	/* background: #fff; */
	margin: 0 15px 0 0;
	border-radius: 10px;
	/* padding: 5px; */
}

#playlist::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

#playlist::-webkit-scrollbar-track {
  background: #B5D6D6;
  border-radius: 20px;       /* color of the tracking area */
}

#playlist::-webkit-scrollbar-thumb {
  background-color: #666;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}